@font-face {
  font-family: 'HarryP';
  src: url('../../assets/fonts/HARRYP__.TTF') format('truetype');
}

.logo {
  font-family: 'HarryP', sans-serif;
  font-size: 5vw; /* Ajuste o tamanho conforme necessário */
  color: #ffffff; /* Ajuste a cor, se necessário */
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

@media (max-width: 769px) {
  .logo{
    font-size: 15vw;
  }
}
