@font-face {
  font-family: 'HarryP';
  src: url('../../assets/fonts/HARRYP__.TTF') format('truetype');
}

.logo {
  font-family: 'HarryP', sans-serif;
  font-size: 5vw; /* Ajuste o tamanho conforme necessário */
  color: #000; /* Ajuste a cor, se necessário */
}

.header{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
