<p>Livros {{genero}}</p>
<div class="book-container">
  <button class="seta fas fa-arrow-left" (click)="anterior()" ></button>
  <div *ngFor="let book of livros_visiveis" class="book-item" (click)="openBookDetails(book)">
    <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro" class="book-cover" />
  </div>
  <button class="seta fas fa-arrow-right" (click)="proximo()"></button>
</div>

<div class="modal" *ngIf="selectedBook" (click)="closeBookDetails()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeBookDetails()">&times;</span>
    <img [src]="selectedBook.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro" class="book-large-cover" />
    <h2>{{ selectedBook.volumeInfo.title }}</h2>
    <p><strong>Autor(es):</strong> {{ selectedBook.volumeInfo.authors?.join(', ') }}</p>
    <p><strong>Sinopse:</strong> {{ selectedBook.volumeInfo.description }}</p>
  </div>
</div>
